!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Stepfun
    = stylesheet_link_tag 'login', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield

  = javascript_include_tag 'login', 'data-turbolinks-track' => true
